/* *{
    padding: 0;
    margin: 0;
}

.photoediting{
    padding-top: 100px;
    padding-left: 100px;
}

#sign{
    display: flex;
    position: sticky;
    padding-bottom: 10000px;
} */

.pad{
    padding-left: 100px;
    padding-top: 100px;
/* } */